/* Product.css */
.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-title {
    margin-top: 10px;
  }
  
  .product-button {
    background-color: #fc5d35;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-button:hover {
    background-color: #ff704a;
  }
  